torch==2.9.0
torchvision==0.24.0
torchaudio==2.9.0
transformers
accelerate
peft
trl
bitsandbytes
datasets
langchain
langchain-community
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
umap-learn
scikit-learn
polars
pandas
beautifulsoup4
nltk
rouge-score
bert-score
evaluate
psutil
GPUtil
matplotlib
numpy
tqdm
pyyaml
fastapi
uvicorn
pydantic
boto3