torch==2.9.0
torchvision==0.24.0
torchaudio==2.9.0
transformers
trl
peft
accelerate
bitsandbytes
datasets
evaluate
polars
beautifulsoup4
markdownify
rouge-score
nltk
codebleu
bert-score
sentence-transformers
mlflow
dagshub
optuna
dvc-s3
boto3
fastapi
uvicorn
pydantic
docker
python-dotenv
pyyaml
tqdm
numpy
scikit-learn
pathspec
dvc
matplotlib